body{
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #00b4db, #0083b0);
}

.heading{
	margin: 2rem 0;
	text-align: center;
	font-size: 4rem;
	letter-spacing: 3px;
	color: white;
}

.element_centre{
	text-align: center;
}

.medium_heading{
	margin: 2rem 0;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 3px;
	color: yellow;
}